<h1>Register A User</h1>

<form action="/registerUser" method="post">
    <div>
<div>
    <label for="firstName">First Name*: </label>
    <input type="text" name="firstName" id="firstName" required>
</div>
<div>
    <label for="lastName">Last Name*: </label>
    <input type="text" name="lastName" id="lastName" required>
</div>
<div>
    <label for="mobileNumber">Mobile Number*: </label>
    <input type="text" name="mobileNumber" id="mobileNumber" required>
</div>
<div>
    <label for="emailId">Email ID* : </label>
    <input type="email" name="emailId" id="emailId" required>
</div>
<div>
    <label for="password">Password* : </label>
    <input type="password" name="password" id="password" required>
</div>
<div>
    <label for="isActive">Is Active? : </label>
    <input type="radio" name="isActive" id="isActive">
</div>
<div>
    <label for="rolesId">Choose a Role: </label>
    <select name="rolesId" id="rolesId" required>
        <option value="1">ADMIN</option>
        <option value="2">STAFF</option>
        <option value="3">FLAT-OWNER</option>
    </select>
</div>
<div>
    <button type="submit">Submit</button>
</div>
</div>
</form>