<h1>All users data</h1>

<ul>
    <% users.forEach((user)=> { %>
       <li> First Name: <%= user.firstName %> Last Name: <%= user.lastName %> Email: <%= user.emailId %>
        Role: <%= user.userRole.roleTypes %>
    </li>
    <% }); %> 
 </ul>
   